@import url('https://fonts.cdnfonts.com/css/satoshi');
@font-face {
    font-family: 'NT Josefine';
    src: url('fonts/subset-NTJosefine.woff2') format('woff2'),
        url('fonts/subset-NTJosefine.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

#home {
    text-align: center;
    margin-top: 120px;
}

#home-point {
    font-size: 0px;
}

.header {
    font-family: 'NT Josefine', 'Times New Roman';
    font-size: 150px;
    line-height: 95%;
    text-align : center;
    letter-spacing: -10px;
    margin-bottom: -90px;
    padding-top: 20px;
}

h1 span {
    color: black;
    position: relative;
}
h1 span::before {
    content: "";
    height: 100px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: black;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}
h1 span.stop-blinking::before {
    animation: none;
}
@keyframes blink {
    50% { opacity: 0 }
}


.small_header {
    margin-bottom: -40px;
    font-size: 20px;
}

.caption {
    width:87%;
    text-align:center;
    margin: auto;
    font-family: 'Satoshi', sans-serif;
    padding-top: 20px;
}

.waroenk {
    width: 800px;
    filter:contrast(-40);
    
    z-index: 1px;
}