@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap');

.nav-header {
  display: flex;
  height:0px;
  background-color: black;
  z-index:999;
  margin:0 auto;
  width:81%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  text-align: center;
  transition: all 0.5s;
  border-radius: 0px 0px 20px 20px;
  
}

.nav-header-scrolled {
  height:90px;

  color: white;
}

.nav-logo {
  width: 35px;
  position: relative;
  
}

.img-logo {
  width: 32px;
  filter: brightness(0%);
  mix-blend-mode: difference;
  transition: all 0.5s;
}

.img-logo-scrolled {
  filter: brightness(100%);
}
  
.header_logo {
    flex: 1;
    display: flex;
  
    position: relative;
    padding: 22px;
}
  
  
.header_logo h4 {
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.24px;
}
  
  .header_menu {
    padding: 45px 0px 45px 0px;
    flex: 2.2;
    display: flex;
    align-items: center;
    justify-content: flex;
    gap: 64px;
    text-align: center;
    
  
    list-style: none;
  }


  .header_button {
    padding-right: 20px;
    list-style: none;
  }
  
.li_button {
  margin-left: 180px;
  position: relative;
}
  
  .header_menu li {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
  }
  
  .nav_button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    min-height: 30px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }


  
  .nav_button:disabled {
    pointer-events: none;
  }
  
  .nav_button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .nav_button:active {
    box-shadow: none;
    transform: translateY(0);
  }

.nav_button-scrolled {
    border: 2px solid white;
    color: white;
    appearance: none;
    background-color: transparent;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    min-height: 30px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.nav_button-scrolled:hover {
  color: black;
  background-color: white;
  transform: translateY(-2px);
}

.nav_button-scrolled:active {
  transform: translateY(0);
}